<!doctype html>
<html lang="en">
  <head>
    <title>inkel is bored &dash; SPDY to the rescue!</title>
  </head>
  <body>
    <h1>inkel is bored &dash; SPDY to the rescue!</h1>

    <p>Sometimes I get bored at home. In times like that, I like to
    read technical articles and other related stuff. This is a proof
    of that.</p>

    <p>This is an hour of boredom, every fifteen seconds.</p>

    <% Dir["images/*.jpg"].sort.each do |img| %>
    <img src="<%= img %>" alt="<%= img %>">
    <% end %>
  </body>
</html>
